.app {
  display: grid;
  justify-content: center;
}

h4,
h3 {
  margin: 0;
}

.title {
  margin-bottom: 1rem;
}

.desc-container {
  max-width: 700px;
}

.photo {
  width: 700px;
  margin-bottom: 1rem;
}

.video {
  width: 120px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.divider {
  margin-top: 2rem;
  border: 1px solid black;
}
